Repository dedis/hbt, pull requests merged in 2022-06, with the labels that each got.

#2 Initializes the Android project
  android/app/build.gradle
  android/app/src/main/java/com/epfl/dedis/hbt/MainActivity.kt
  android/app/src/main/java/com/epfl/dedis/hbt/data/LoginDataSource.kt
  android/app/src/main/java/com/epfl/dedis/hbt/data/LoginRepository.kt
  android/app/src/main/java/com/epfl/dedis/hbt/data/Result.kt
  android/app/src/main/java/com/epfl/dedis/hbt/data/model/LoggedInUser.kt
  android/app/src/main/java/com/epfl/dedis/hbt/ui/login/LoggedInUserView.kt
  android/app/src/main/java/com/epfl/dedis/hbt/ui/login/LoginFormState.kt
  android/app/src/main/java/com/epfl/dedis/hbt/ui/login/LoginFragment.kt
  android/app/src/main/java/com/epfl/dedis/hbt/ui/login/LoginResult.kt
  android/app/src/main/java/com/epfl/dedis/hbt/ui/login/LoginViewModel.kt
  android/app/src/main/java/com/epfl/dedis/hbt/ui/login/LoginViewModelFactory.kt
  android/app/src/main/java/com/epfl/dedis/hbt/ui/main/PageViewModel.kt
  android/app/src/main/java/com/epfl/dedis/hbt/ui/main/PlaceholderFragment.kt
  android/app/src/main/java/com/epfl/dedis/hbt/ui/main/SectionsPagerAdapter.kt
  android/app/src/main/java/com/epfl/dedis/hbt/ui/wallet/WalletDefaultFragment.kt
  android/app/src/main/java/com/epfl/dedis/hbt/ui/wallet/WalletDefaultViewModel.kt
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/fragment_login.xml
  android/app/src/main/res/layout/fragment_main.xml
  android/app/src/main/res/layout/fragment_wallet_default.xml
  android/app/src/main/res/values/dimens.xml
  android/app/src/main/res/values/strings.xml
  android/build.gradle
Labels: android

#8 Adds Sonarcloud badges
  README.md
Labels: android, CI/CD

#10 Convert the main activity to an empty activity with fragments
  .github/workflows/android.yml
  android/app/build.gradle
  android/app/src/androidTest/java/com/epfl/dedis/hbt/ExampleInstrumentedTest.kt
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/epfl/dedis/hbt/MainActivity.kt
  android/app/src/main/java/com/epfl/dedis/hbt/ui/MainActivity.kt
  android/app/src/main/java/com/epfl/dedis/hbt/ui/main/MainFragment.kt
  android/app/src/main/java/com/epfl/dedis/hbt/ui/main/SectionsPagerAdapter.kt
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/fragment_main.xml
  android/app/src/test/java/com/epfl/dedis/hbt/ExampleUnitTest.kt
  android/app/src/test/java/com/epfl/dedis/hbt/testutils/TabLayoutUtils.kt
  android/app/src/test/java/com/epfl/dedis/hbt/ui/MainActivityTest.kt
  android/app/src/test/java/com/epfl/dedis/hbt/ui/page/MainActivityPage.kt
  android/app/src/test/resources/robolectric.properties
Labels: android

#13 Bootstraps the financial smart contract
  .github/workflows/ledger.yml
  .gitignore
  README.md
  ledger/.gitignore
  ledger/README.md
  ledger/financial/cmd/client/batcher.go
  ledger/financial/cmd/client/cmdAdd.go
  ledger/financial/cmd/client/mod.go
  ledger/financial/cmd/handler/mod.go
  ledger/financial/handler/mod.go
  ledger/financial/payload/mod.go
  ledger/financial/serde/json.go
  ledger/financial/serde/json_test.go
  ledger/financial/serde/mod.go
  ledger/financial/state/mod.go
  ledger/go.mod
  ledger/go.sum
  ledger/sawtooth-default.yml
  ledger/sonar-project.properties
Labels: ledger

#18 Updates the financial smart contract
  docs/smart-contracts.md
  ledger/financial/cmd/client/cmdAdd.go
  ledger/financial/handler/mod.go
  ledger/financial/payload/mod.go
  ledger/financial/state/mod.go
  ledger/financial/state/wallet.go
  ledger/financial/state/wallet_test.go
  ledger/go.mod
  ledger/go.sum
  ledger/sonar-project.properties
Labels: ledger
